#wrap{
  width : 800px;
  margin: 50px auto 0;
  /* background-color: rgb(25, 104, 58);
   */
   background-color: rgba(221, 180, 60, 0.907);
  padding : 30px;
}

#wrap>h1{
  font-size: 35px;
  color : #fff;
  font-weight: bold;
  margin-bottom : 25px;
  display: flex;
  align-items: center;
}

#search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom : 30px;
  /* background-color: antiquewhite; */
  position:relative;
}

#search>input{
  width : 80%;
  height: 25px;
  margin: 0 5px;
  border : none;
}

#search>button{
  border : none;
  background-color: tomato;
  color:#fff;
  width:100px;
  font-size: 20px;
}

#search>ul{
  position:absolute;
  top:28px;
  right:16px;
  text-align: center;
  background-color: #fff;
  width : 100px;
}

#search>ul>li{
  padding : 10px 5px;
  color : #666;
}

#content{
  display: flex;
  justify-content: space-between;
}

#content>dl{
  width : 400px;
  /* margin : 0 auto; */
  padding : 20px 30px;
  box-sizing: border-box;
  color : rgb(255, 255, 255);
  font-size: 15px;
}

#content>dl>dt{
  margin-bottom: 5px;
  padding: 10px  5px;
  text-indent: 3px;
  text-align: left;
  /* background-color: #fff; */
  /* display: inline-block; */
}

#content>dl>dd>input{
  border : 1px solid #666;
  margin-bottom : 10px;
}

#content>dl>dd>textarea{
  margin-bottom:18px;
}

#content>dl>dd>button{
  width :55%;
  padding : 0 5px;
  color:#666;
  border: none;
  box-shadow: 1px 2px 3px rgb(90, 101, 202);
}

#content>ul{
  width : 400px;
  box-sizing: border-box;
  margin-right: 55px;
  /* background-color: red; */
  /* padding : 20px 30px; */

}
#content>ul>li{
  background-color: rgb(235, 239, 231);
  padding : 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border : 1px solid #000;
}
#content>ul>li>dl>dt{
  margin-bottom: 5px;
  padding: 10px 5px;
  text-indent: 3px;
}

#content>ul>li>button{
  height: 40px;
  font-size: 20px;
}

